@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.parent-head {
  height: 698px;
  background-image: url("../images/Hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.site-name {
  font-size: 34px;
  margin-top: 50px;
  margin-left: 150px;
}

.sign-up-btn {
  margin-top: 50px;
  margin-right: 150px;
}
.focus-btn {
  margin-top: 37px;
  margin-bottom: 152px;
}
.summary {
  font-family: "Raleway", sans-serif;
  font-size: 65px;
  font-weight: bold;
}

.banner {
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Common sources */
.primary-btn {
  background-color: #4e47ff;
  color: white;
  font-weight: bold;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  border: none;
  padding: 12px 36px;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.primary-logo {
  color: #4e47ff;
  font-family: "Inter", sans-serif;
  font-style: normal;
}
.action-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 141px;
  margin-right: 160px;
  font-family: "Raleway", sans-serif;
  gap: 220px;
}
.action-head {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 23px;
}
.action-para {
  font-size: 24;
  margin-bottom: 23px;
}
.action-img {
  width: 403px;
  height: 328px;
  margin-top: 116px;
  margin-bottom: 166px;
  border-radius: 48px;
}
.productive-sec {
  background-color: #e4e7ff;
  padding: 50px;
  height: 200px;
  width: 1140px;
  border-radius: 24px;
  margin: 115px auto;
  gap: 10px;
}

.pro-title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}
.container-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.common-title-texts {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #4e47ff;
}
.common-sub{
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #727480;
}
.feedback-title{
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.review-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
 padding: 30px;
  margin-bottom: 135px;
  font-family: "Raleway", sans-serif;
  
}
.review-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;    
  text-align: left;          
  background-color: #fafbff;
  border-radius: 15px;
  width: 365px;
  height: 242px;
  padding: 30px;
  box-shadow: 0 2px 8px rgba(56, 55, 55, 0.05);
}
.stars {
  display: flex;             
  margin-bottom: 24px;  
  margin-top: 24px;   
  
 
}
.head-titile{
  margin-bottom: 30px;
  font-size: 30px;
}
.rev-info{
  display: flex;
  margin-top: 24px;

}
.ref-details{
margin-right: 24px;
margin-left: 12px;
color: #757575;
margin: 2px;
}
.rev-info img{
  border-radius: 50%;
  margin-right: 12px;
}